{% load static %}

{% url 'visa:visa_list' as visas_url %}
{% url 'base:airticket_page' as airticket_url %}
{% url 'base:foreign_passport_page' as foreign_passport_url %}
{% url 'base:insurance_page' as insurance_url %}
{% url 'base:legal_entity_page' as legal_entity_url %}
{% url 'branch:branches_page' as branch_url %}
{% url 'feedback:home' as feedback_url %}
{% url 'about_page:home' as about_url %}
{% url 'franchise_page:home' as franchise_url %}

<!DOCTYPE html>
<html lang="ru-Ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
      {% block title %}
    <title>EASYVISA AGENCY — Оформляем визу в любые страны</title>
      {% endblock %}
    <script src="{% static 'js/pace.js' %}"></script>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/default-skin/default-skin.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css"><!--[if (lt IE 9)]><script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.helper.ie8.js"></script><![endif]-->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <link rel="stylesheet" href="{% static 'css/concat-css-libs.css' %}">
    <link rel="stylesheet" href="{% static 'css/concat-css.css' %}">
  </head>
  <body>
    <header class="header">
      <div class="header-first">
        <div class="header-first__container container">
          <div class="header-first__nav header-first-nav">
              <a class="header-first-nav__item header-first__franchise-card franchise-card {% if request.path == franchise_url %}header-first-nav__item_active{% endif %}" href="{% url 'franchise_page:home' %}">
              <div class="franchise-card__text">Франчайзинг</div>
              <div class="franchise-card__img"></div></a>
            <div class="header-first__separator"></div>
              <a class="header-first-nav__item {% if request.path == about_url %}header-first-nav__item_active{% endif %}" href="{% url 'about_page:home' %}">О компании</a>
            <div class="header-first__separator"></div>
              <a class="header-first-nav__item {% if request.path == feedback_url %}header-first-nav__item_active{% endif %}" href="{% url 'feedback:home' %}">Отзывы</a>
            <div class="header-first__separator"></div>
              <a class="header-first-nav__item {% if request.path == legal_entity_url %}header-first-nav__item_active{% endif %}" href="{% url 'base:legal_entity_page' %}">Юридическим лицам</a>
            <div class="header-first__separator"></div>
              <a class="header-first-nav__item {% if 'contact' in request.path %}header-first-nav__item_active{% endif %}" data-branch="url" href="{% url 'branch:contact_page' request.session.current_branch.slug %}">Контакты</a>
            <div class="header-first__separator"></div>
          </div>
          <div class="header-first__contact-us header-first-contact-us">

            <div class="header-first-contact-us__text">Свяжитесь с нами:</div>
            <div class="header-first-contact-us__list social">

                {% if request.session.current_branch.whatsapp %}
                <a class="social__item" data-branch="whatsapp" href="{{ request.session.current_branch.whatsapp }}"><div class="icon icon_whatsapp"></div></a>
                {% endif %}

                {% if request.session.current_branch %}
                <a class="social__item" data-branch="instagram" href="{{ request.session.current_branch.instagram_link }}"><div class="icon icon_instagram"></div></a>
                {% endif %}

                {% if request.session.current_branch.vk %}
                <a class="social__item" data-branch="vk" href="{{ session.current_branch.vk }}"><div class="icon icon_vk"></div></a>
                {% endif %}

            </div>
          </div>
          <div class="header-first__separator"></div>
          <div class="header-first__location-select header-first-location-select">
            <div class="header-first-location-select__icon-placemark icon icon_placemark"></div>
            <div class="select_type_1">
              <select data-js="select-type-1">
                  {% for branch in branches_city_n_slug %}
                      <option value="{{ branch.slug }}"
                                  {% if branch.slug == request.session.current_branch.slug %}selected{% endif %}>
                              {{ branch.city }}</option>
                  {% endfor %}
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="header-second">
        <div class="header-second__container container">
            <a class="header-second__logo logo" href="{% url 'index_page:home' %}"><img class="logo__img" src="{% static 'img/logo-easyvisa.png' %}"></a>
          <div class="header-second__nav header-second-nav">
              <a class="header-second-nav__item {% if request.path == visas_url %}header-second-nav__item_active{% endif %}" href="{% url 'visa:visa_list' %}">Визы</a>
              <a class="header-second-nav__item {% if request.path == airticket_url %}header-second-nav__item_active{% endif %}" href="{% url 'base:airticket_page' %}">Авиабилеты</a>
              <a class="header-second-nav__item {% if request.path == foreign_passport_url %}header-second-nav__item_active{% endif %}" href="{% url 'base:foreign_passport_page' %}">Загранпаспорт</a>
              <a class="header-second-nav__item {% if request.path == insurance_url %}header-second-nav__item_active{% endif %}" href="{% url 'base:insurance_page' %}">Страхование</a>
              <a class="header-second-nav__item" href="{% url 'visa:visa_list' %}">Работа за рубежом</a>
              <a class="header-second-nav__item {% if request.path == branch_url %}header-second-nav__item_active{% endif %}" href="{% url 'branch:branches_page' %}">Наши филиалы</a>
          </div>
            <a class="header-second__contact contact-card" data-branch="phone" href="tel:{{ request.session.current_branch.phone.0 }}">
                    <div class="contact-card__icon icon icon_phone"></div>
                    <div class="contact-card__text">{{ request.session.current_branch.phone.0 }}</div>
                 </a>

        </div>
      </div>
      <div class="header-mob-topbar">
        <div class="header-mob-topbar__container container"><a class="header-mob-topbar__logo logo" href="{% url 'index_page:home' %}"><img class="logo__img" src="{% static 'img/logo-easyvisa.png' %}"></a>
            <a class="header-mob-topbar__contact contact-card" data-branch="phone" href="tel:{{ request.session.current_branch.phone.0 }}">
            <div class="contact-card__icon icon icon_phone"></div>
            <div class="contact-card__text">{{ request.session.current_branch.phone.0 }}</div>
            </a>

          <button class="burger" data-js="burger"><i></i></button>
        </div>
      </div>
      <div class="header-mob-menu" data-js="header-mob-menu">
        <div class="header-mob-menu__container container">
          <div class="header-mob-menu__content">
            <div class="header-mob-menu__nav header-mob-menu-nav header-mob-menu-nav_type_1"><a class="header-mob-menu-nav__item" href="{% url 'visa:visa_list' %}">Визы</a><a class="header-mob-menu-nav__item" href="{% url 'base:airticket_page' %}">Авиабилеты</a><a class="header-mob-menu-nav__item" href="{% url 'base:foreign_passport_page' %}">Загранпаспорт</a><a class="header-mob-menu-nav__item" href="{% url 'base:insurance_page' %}">Страхование</a><a class="header-mob-menu-nav__item" href="{% url 'visa:visa_list' %}">Работа за рубежом</a><a class="header-mob-menu-nav__item" href="{% url 'english_page:home' %}">Языковые курсы</a><a class="header-mob-menu-nav__item" href="{% url 'branch:branches_page' %}">Наши филиалы</a></div>
            <div class="header-mob-menu__nav header-mob-menu__nav-second header-mob-menu-nav header-mob-menu-nav_type_2"><a class="header-mob-menu-nav__item header-mob-menu__franchise-card franchise-card" href="{% url 'franchise_page:home' %}">
                <div class="franchise-card__text">Франчайзинг</div>
                <div class="franchise-card__img"></div></a><a class="header-mob-menu-nav__item" href="{% url 'about_page:home' %}">О компании</a><a class="header-mob-menu-nav__item" href="{% url 'feedback:home' %}">Отзывы</a><a class="header-mob-menu-nav__item" href="{% url 'base:legal_entity_page' %}">Юридическим лицам</a><a class="header-mob-menu-nav__item" data-branch="url" href="{% url 'branch:contact_page' request.session.current_branch.slug %}">Контакты</a></div>
            <div class="header-mob-menu__contact-us-list social">

                {% if request.session.current_branch.whatsapp %}
                <a class="social__item" data-branch="whatsapp" href="{{ request.session.current_branch.whatsapp }}"><div class="icon icon_whatsapp"></div></a>
                {% endif %}

                {% if request.session.current_branch %}
                <a class="social__item" data-branch="instagram" href="{{ request.session.current_branch.instagram_link }}"><div class="icon icon_instagram"></div></a>
                {% endif %}

                {% if request.session.current_branch.vk %}
                <a class="social__item" data-branch="vk" href="{{ session.current_branch.vk }}"><div class="icon icon_vk"></div></a>
                {% endif %}

            </div>
            <div class="header-mob-menu-location-select">
              <div class="header-mob-menu-location-select__icon-placemark icon icon_placemark"></div>
              <div class="select_type_1">
                <select name="" data-js="select-type-1">
                    {% for branch in branches_city_n_slug %}
                      <option value="{{ branch.slug }}"
                                  {% if branch.slug == request.session.current_branch.slug %}selected{% endif %}>
                              {{ branch.city }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="popbox_main_content site-content-wrapper" data-js="site-content-wrapper">
        {% block content %}
        {% endblock %}
      <footer class="footer">
        <div class="footer-first">
          <div class="footer-first__container container"><a class="footer-first__logo logo" href="{% url 'index_page:home' %}"><img class="logo__img" src="{% static 'img/logo-easyvisa.png' %}"></a>
            <div class="footer-first-column">
              <div class="footer-first-column__title">Услуги</div>
              <div class="footer-first__nav footer-first-nav"><a class="footer-first-nav__item" href="{% url 'visa:visa_list' %}">Визы</a><a class="footer-first-nav__item" href="{% url 'base:foreign_passport_page' %}">Загранпаспорт</a><a class="footer-first-nav__item" href="{% url 'base:insurance_page' %}">Страхование</a><a class="footer-first-nav__item" href="{% url 'base:airticket_page' %}">Авиабилеты</a></div>
            </div>
            <div class="footer-first-column">
              <div class="footer-first-column__title">Направления</div>
                <div class="footer-first__nav footer-first-nav">
                  <a class="footer-first-nav__item" href="{% url 'visa:visa_detail' slug='ssha' %}">США</a>
                  <a class="footer-first-nav__item" href="{% url 'visa:visa_detail' slug='velikobritaniya' %}">Британия</a>
                  <a class="footer-first-nav__item" href="{% url 'visa:visa_list' %}#europe">Европа</a>
                  <a class="footer-first-nav__item" href="{% url 'visa:visa_list' %}">еще</a>
              </div>
            </div>
            <div class="footer-first-column">
              <div class="footer-first-column__title">Инфо</div>
              <div class="footer-first__nav footer-first-nav"><a class="footer-first-nav__item footer-first-nav__franchise-card franchise-card" href="{% url 'franchise_page:home' %}">
                  <div class="franchise-card__text">Франчайзинг</div>
                  <div class="franchise-card__img"></div></a><a class="footer-first-nav__item" href="{% url 'feedback:home' %}">Отзывы</a><a class="footer-first-nav__item" href="{% url 'branch:branches_page' %}">Наши филиалы</a><a class="footer-first-nav__item" href="{% url 'about_page:home' %}">О компании</a></div>
            </div>
          </div>
        </div>
        <div class="footer-second">
          <div class="container">
            <div class="footer-second__copyright show-more" data-show-more="show-more" data-show-more-height="100" data-show-more-when="2000">
              <div class="show-more__content" data-show-more-content="show-more__content">
                  {{ copyright_text|safe }}
              </div>
              <div class="show-more__btn" data-js="show-more__btn"></div>
              <div class="show-more__shadow" data-js="show-more__shadow"></div>
            </div>
          </div>
        </div>
      </footer>
      <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <!--
        Background of PhotoSwipe.
        It's a separate element, as animating opacity is faster than rgba().
        -->
        <div class="pswp__bg"></div>
        <!-- Slides wrapper with overflow:hidden.-->
        <div class="pswp__scroll-wrap">
          <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory.-->
          <!-- don't modify these 3 pswp__item elements, data is added later on.-->
          <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
          </div>
          <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.-->
          <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
              <!-- Controls are self-explanatory. Order can be changed.-->
              <div class="pswp__counter"></div>
              <button class="pswp__button pswp__button--close" title="Закрыть (Esc)">  <!--(title='Close (Esc)')--></button>
              <button class="pswp__button pswp__button--fs" title="Полноэкранный режим"> <!--(title='Toggle fullscreen')--></button>
              <button class="pswp__button pswp__button--zoom" title="Увеличить/уменьшить">  <!--(title='Zoom in/out')--></button>
              <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR-->
              <!-- element will get class pswp__preloader--active when preloader is running-->
              <div class="pswp__preloader">
                <div class="pswp__preloader__icn">
                  <div class="pswp__preloader__cut">
                    <div class="pswp__preloader__donut"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
              <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="предыдущий"> <!--(title='Previous (arrow left)')--></button>
            <button class="pswp__button pswp__button--arrow--right" title="следующий"> <!--(title='Next (arrow right)')--></button>
            <div class="pswp__caption">
              <div class="pswp__caption__center"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="popbox" data-popbox-id="popbox-callback">
      <div class="popbox_container" style="box-shadow:0 12px 32px rgba(43, 43, 43, 0.07)">
        <button class="popbox__cross" data-popbox-close="popbox-callback"><i class="icon icon_cross"></i></button>
        <div class="popbox__box">
          <div class="title title_h3 popbox__title">
            <div class="title__text">Заказать обратный звонок</div>
            <div class="title__divider"></div>
            <div class="title__subtitle">Оставьте свои контакты, наш менеджер свяжется с вами в течении 15 минут и ответит на ваши вопросы</div>
          </div>
          <form class="form form_column" data-js="form" data-form-note="—">
            <input class="input input_grey form__elem" placeholder="Имя" type="text" name="name">
            <input class="input input_grey form__elem" placeholder="Номер телефона" type="tel" name="phone">
            <button class="btn form__elem" data-js="callback-btn">Заказать звонок</button>
          </form>
          <p class="form__agreement">Нажимая кнопку, вы соглашаетесь с условиями <a class="text_underline_hoverable" href="">политики конфиденциальностих</a></p>
        </div>
      </div>
    </div>
    <div class="popbox" data-popbox-id="popbox-feedback">
      <div class="popbox_container" style="box-shadow:0 12px 32px rgba(43, 43, 43, 0.07)">
        <button class="popbox__cross" data-popbox-close="popbox-feedback"><i class="icon icon_cross"></i></button>
        <div class="popbox__box">
          <div class="title title_h3 popbox__title">
            <div class="title__text">Оставить отзыв</div>
            <div class="title__divider"></div>
            <div class="title__subtitle">Мы очень ценим Вашу инициативу и рады каждому отзыву и предложению</div>
          </div>
          <form class="form form_column" data-js="form" data-form-note="Отзыв">
            <input class="input input_grey form__elem" placeholder="Имя" type="text" name="name">
            <input class="input input_grey form__elem" placeholder="E-mail" type="email" type="email" name="email">
            <textarea class="input input_grey form__elem" placeholder="Отзыв" name="feedback"></textarea>
            <button class="btn form__elem">Оставить отзыв</button>
          </form>
          <p class="form__agreement">Нажимая кнопку, вы соглашаетесь с условиями <a class="text_underline_hoverable" href="">политики конфиденциальностих</a></p>
        </div>
      </div>
    </div>
    <div class="popbox" data-popbox-id="popbox-result">
      <div class="popbox_container" style="padding-bottom: 12px">
        <button class="popbox__cross" data-popbox-close="popbox-result"><i class="icon icon_cross"></i></button>
        <div class="popbox__box">
          <div class="title title_h3 popbox__title">
            <div class="title__text">Спасибо, ваша заявка отправлена</div>
            <div class="title__divider"></div>
          </div>
        </div>
      </div>
    </div>

    {% if not request.session.is_branch_selected %}
    <div class="popbox popbox-first-select-branch" data-popbox-id="popbox-first-select-branch">
      <div class="popbox_container">
        <div class="popbox__box">
            <div class="popbox-first-select-branch__title">
              Ваш город: <b>{{ request.session.current_branch.city }}</b>
            </div>
            <div class="popbox-first-select-branch__row">
                <div class="btn popbox-first-select-branch__btn" data-popbox-close="popbox-first-select-branch" data-js="first-select-branch-yes">Да</div>
                <div class="btn btn_1 popbox-first-select-branch__btn" data-js="btn-open-city-select">Нет</div>
            </div>
        </div>
      </div>
    </div>
    <div class="popbox popbox-mob-select-branch" data-popbox-id="popbox-mob-select-branch">
      <div class="popbox_container">
        <div class="popbox__box">
          <div class="select_type_1 select-mob-branch-city">
            <select data-js="select-mob-branch-city">
              {% for branch in branches_city_n_slug %}
                  <option value="{{ branch.slug }}" {% if branch.slug == request.session.current_branch.slug %}selected{% endif %}>
                          {{ branch.city }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </div>

    {% endif %}

    <div class="popbox popbox-map" data-popbox-id="popbox-map">
      <div class="popbox_container" style="box-shadow:0 12px 32px rgba(43, 43, 43, 0.07)">
        <button class="popbox__cross" data-popbox-close="popbox-map"><i class="icon icon_cross"></i></button>
        <div class="popbox-map-container" id="popbox-map-container" data-placemark="placemark.png"></div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=c599d252-3a6f-4b64-872c-a529f6263f40&amp;lang=ru_RU"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{% static 'js/concat-js-libs.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
  </body>
</html>