.franchise-page-features-2-section {
  .box-list {
    margin-top: -16px
    justify-content flex-start

    &__item {
      display: flex;
      flex-direction column
      justify-content flex-start
      align-items flex-start
      text-align left
      padding 36px 40px 0 0

      img {
        object-fit cover
      }

      .box__icon-wrapper {
        display: flex;
        align-items center
        height: 98px;
        font-size: 0
        line-height: 0
        transform-origin left
      }
    }
  }

  //.box-list_4 {
  //  margin: 0 -0.8% -1.6% -0.8%;
  //
  //  .box-list__item {
  //    margin: 0 0.8% 1.6% 0.8%;
  //    width: 23.4%;
  //  }
  //}
}


@media (max-width: 1050px) {
  .franchise-page-features-2-section {
    .box-list {
      margin-top: -10px

      &__item {
        padding 20px 40px 0 0
      }
    }
  }
}

@media (max-width: 850px) {
  .franchise-page-features-2-section {
    .slider {
      margin-top: -16px
    }

    .box-list {
      align-items flex-start
      margin: 0 !important

      &__item {
        align-items center
        text-align center
        margin 0 !important
        padding-right: 0
        width: 100% !important
        min-width auto !important

        .box__text {
          max-width unset !important
        }

        .box__icon-wrapper {
          transform-origin center
        }
      }
    }
  }
}