.franchise-page-history-section {
  &.bg_img {
    .title_h2 {
      margin-bottom: 30px
    }
  }
}

@media (max-width: 1050px) {
  .franchise-page-history-section {
    &.bg_img .title_h2 {
      margin-bottom: 24px
    }
  }
}

@media (max-width: 600px) {
  .franchise-page-history-section {
    &.bg_img {
      background-size: auto;
      background-position: top center;

      .title_h2 {
        margin-bottom: 20px
      }
    }
  }
}