.index-page-payment-section {
  &__box {
    padding: 0px !important
    width: 235px;
    height: 131px;
  }
}

.index-page-payment-section-box-list {
  margin: -8px -8px 0 -8px

  &__item {
    margin: 8px
  }
}

@media (max-width: 1050px) {
  .index-page-payment-section {
    &__box {
      width: 170px;
      height: 96px;

      img {
        transform scale(0.75)
      }
    }
  }
}


@media (max-width: 600px) {
  .index-page-payment-section-box-list {
    margin: -7px -7px 0 -7px

    &__item {
      margin: 7px
    }
  }
}

@media (max-width: 400px) {
  .index-page-payment-section {
    &__box {
      width: 138px;
      height: 82px;
    }
  }
}