.crumbs {
  display: flex;
  flex-wrap wrap
  padding: 36px 0 6px 0

  &__item {
    display: flex;
    align-items center
    white-space: nowrap;
    margin-bottom: 6px
  }

  &__link {
    font-family: "Proxima Nova Light";
    font-size: 16px;
    color: #383838;
    text-decoration: underline;

    &:hover {
      text-decoration: none
    }

    &_current {
      pointer-events: none;
      cursor: default;
      color: #575757;
      text-decoration: none
    }
  }

  &__icon {
    margin: 0 12px
  }
}