.icon {
  display: inline-block;
  background-repeat: no-repeat
  background-position: center
  background-size: contain;

  &_cross {
    width: 14px;
    height: 14px;
    background-image: url("../../img/icon-cross.svg")
  }

  &_phone {
    width: 17px;
    height: 17px;
    background-image: url("../../img/icon-phone.svg")
  }

  &_placemark {
    width: 16px;
    height: 20px;
    background-image: url("../../img/icon-placemark.svg")
  }

  &_whatsapp {
    width: 18px;
    height: 18px;
    background-image: url("../../img/icon-whatsapp.svg")
  }

  &_instagram {
    width: 17px;
    height: 17px;
    background-image: url("../../img/icon-instagram.svg")

    &_2 {
      width: 17px;
      height: 17px;
      background-image: url("../../img/icon-instagram-2.svg")
    }
  }

  &_vk {
    width: 18px;
    height: 18px;
    background-image: url("../../img/icon-vk.svg")
  }

  &_arrow {
    width: 20px;
    height: 20px;
    background-image: url("../../img/icon-arrow-2.svg")

    &_1 {
      width: 16px;
      height: 16px;
      background-image: url("../../img/icon-arrow.svg")
    }
  }

  &_play-arrow {
    width: 18px;
    height: 21px;
    background-image: url("../../img/icon-arrow-3.svg")
  }
}