@require "variables-n-mixins.styl"

.social {
  display: flex;
  align-items center

  &__item {
    display: flex;
    justify-content center
    align-items center
    margin: 4px
    width: 29px;
    height: 29px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow $small_shadow
    transition .3s

    &:hover {
      transform translate3d(0, 1px, 0)
    }
  }
}

@media (max-width: 1250px) {
  .social {
    &__item {
      margin: 3px;
      width: 26px;
      height: 26px;

      .icon {
        transform scale(0.85)
      }
    }
  }
}