$small_shadow = 0 8px 13px rgba(43, 43, 43, 0.1);
$large_shadow = 0 12px 32px rgba(43, 43, 43, 0.07);

orange_frame = @block {
  border-radius: 5px;
  border: 1px solid #ffea00;
}

bg-image(url)
  background-image: url(url)
  background-repeat: no-repeat
  background-position: center
  background-size: cover;