.index-page-staff-section__container {
  position: relative;
}
.index-page-staff-section__title {
  position: absolute;
  z-index: 2;
  top: 96px;
}
.index-page-staff-section__quote {
  max-width: 628px;
  box-shadow: 0 12px 32px rgba(43,43,43,0.07);
  border-radius: 5px;
  background-color: #fff;
}
.index-page-staff-section__quote:before {
  left: -8px;
  bottom: -13px;
  width: 30px;
  height: 30px;
}
.index-page-staff-section__quote:after {
  right: -8px;
  top: -13px;
  width: 30px;
  height: 30px;
}
.index-page-staff-section__name-n-job {
  margin: 52px 0 0 29px;
}
.index-page-staff-section__yellow-square.yellow-square {
  top: 160px;
  right: 27px;
  width: 230px;
  height: 230px;
}
.index-page-staff-section__grid {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
}
.index-page-staff-section__img {
  display: block;
  margin: auto 0 0 0;
  object-fit: contain;
  object-position: bottom;
  height: 541px;
}
.index-page-staff-section__left {
  margin-top: 192px;
}
.index-page-staff-section__right {
  display: flex;
  margin: 0 32px 0 20px;
  font-size: 0;
  line-height: 0;
}
.index-page-staff-section-slider .tns-controls button {
  bottom: 180px;
}
.index-page-staff-section-slider .tns-controls button[data-controls="prev"] {
  right: 496px;
}
.index-page-staff-section-slider .tns-controls button[data-controls="next"] {
  right: 0;
}
.index-page-staff-section-slider .tns-nav {
  position: absolute;
  z-index: 2;
  left: 274px;
  bottom: 124px;
}
.index-page-staff-section-slider .tns-ovh {
  overflow: visible;
}
@media (max-width: 1250px) {
  .index-page-staff-section__title {
    top: 100px;
  }
  .index-page-staff-section__quote {
    max-width: 496px;
    padding: 18px 20px 18px 20px;
    font-size: 17px;
    line-height: 21px;
  }
  .index-page-staff-section__quote:before {
    width: 26px;
    height: 26px;
  }
  .index-page-staff-section__quote:after {
    width: 26px;
    height: 26px;
  }
  .index-page-staff-section__name-n-job {
    margin: 44px 0 0 20px;
  }
  .index-page-staff-section__img {
    height: 460px;
  }
  .index-page-staff-section-slider .tns-controls button {
    bottom: 140px;
  }
  .index-page-staff-section-slider .tns-controls button[data-controls="prev"] {
    right: 418px;
  }
  .index-page-staff-section-slider .tns-nav {
    left: 240px;
    bottom: 72px;
  }
}
@media (max-width: 1050px) {
  .index-page-staff-section__title {
    top: 40px;
  }
  .index-page-staff-section__quote:before {
    left: -5px;
    bottom: -7px;
    width: 20px;
    height: 20px;
  }
  .index-page-staff-section__quote:after {
    right: -5px;
    top: -7px;
    width: 20px;
    height: 20px;
  }
  .index-page-staff-section__name-n-job {
    margin: 28px 0 0 20px;
  }
  .index-page-staff-section__yellow-square.yellow-square {
    top: 106px;
    right: 17px;
    width: 142px;
    height: 142px;
  }
  .index-page-staff-section__img {
    height: 360px;
  }
  .index-page-staff-section__left {
    margin-top: 120px;
  }
  .index-page-staff-section-slider .tns-controls button {
    bottom: 120px;
  }
  .index-page-staff-section-slider .tns-controls button[data-controls="prev"] {
    right: 340px;
  }
  .index-page-staff-section-slider .tns-nav {
    left: 230px;
    bottom: 60px;
  }
}
@media (max-width: 950px) {
  .index-page-staff-section-slider .tns-controls button {
    display: none;
  }
}
@media (max-width: 600px) {
  .index-page-staff-section {
    padding-top: 28px;
  }
  .index-page-staff-section__title {
    position: static;
  }
  .index-page-staff-section__name-n-job {
    margin: 17px 0 0 20px;
  }
  .index-page-staff-section__grid {
    position: relative;
    margin-top: 0;
  }
  .index-page-staff-section__left {
    margin-top: 0;
    position: absolute;
    top: 184px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  .index-page-staff-section__name-n-job {
    margin: -3px auto 0 auto;
    padding: 5px 8px 5px 8px;
    width: max-content;
    border-radius: 5px;
    background-color: #fff;
  }
  .index-page-staff-section__right {
    margin: 0 auto;
  }
  .index-page-staff-section__img {
    height: 360px;
    object-fit: cover;
  }
  .index-page-staff-section-slider .tns-nav {
    display: none;
  }
}
