.about-page-features-section__box-title {
  font-family: "Proxima Nova Semibold" !important;
  font-size: 45px !important;
  line-height: unset !important;
}
.about-page-features-section .box {
  padding: 36px 13px 26px 13px;
}
@media (max-width: 1050px) {
  .about-page-features-section .about-page-features-section__box-title.box__title {
    font-size: 36px !important;
  }
  .about-page-features-section .box {
    padding: 26px 13px 26px 13px;
  }
}
@media (max-width: 600px) {
  .about-page-features-section .about-page-features-section__box-title.box__title {
    font-size: 32px !important;
  }
  .about-page-features-section .box {
    padding: 18px 13px 20px 13px;
  }
}
