.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px 12px;
  max-width: 100%;
  font-family: "Proxima Nova Semibold";
  font-size: 17px;
  color: #191919;
  box-shadow: 0 20px 21px rgba(255,234,0,0.1);
  border-radius: 5px;
  background-color: #ffea00;
  cursor: pointer;
  transition: 0.3s;
  white-space: nowrap;
}
.btn:hover {
  background-color: #ebd700;
  color: #121212 !important;
  text-shadow: #121212 0.5px 0 0 !important;
}
.btn_1 {
  padding: 17px 12px;
  font-family: "Proxima Nova Reg";
  font-size: 18px;
  background-color: transparent;
  border: 1px solid #838383;
  box-shadow: none;
}
.btn_1:hover {
  border-color: #ffea00;
}
@media (max-width: 1050px) {
  .btn {
    padding: 16px 12px;
  }
}
@media (max-width: 1050px) {
  .btn {
    font-size: 16px;
  }
  .btn_h1 {
    font-size: 17px;
  }
}
